/* Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
}
/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
  #Feed {
    margin-top: 100px;
  }

  #Feed .history {
    border-style: ridge;
    margin-bottom: 30px;
    /* border-color: black; */
  }
  #Feed .userImg {
    margin-top: 10px;
    margin-left: 20px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
  #Feed .postIMG {
    margin-top: 10px;
    width: 100%;
    height: auto;
  }

  #Feed .postBottom {
    padding: 10px;
  }
  #Feed .postUserInfo p {
    margin-left: 10px;
    display: inline-block;
  }

  #Feed .history i {
    margin-top: 10px;
    margin-right: 20px;
    margin-bottom: 10px;
    font-size: 1.3rem;
  }

  #Feed .postDescription {
    margin-bottom: 20px;
  }
  #Feed .postDescription p {
    margin-bottom: 2px;
    font-size: 0.86rem;
  }

  .blackFont {
    font-weight: bold;
  }
}
